body{
  margin: 0 auto;
  background-image: url(bg.gif);
}

.container{
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 2rem;
}

header,
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a,
footer a{
  color: black;
  text-decoration: none;
}

nav{
  display: flex;
}

nav a{
  padding: 1rem;
}

nav a:hover{
  background-color: #b52025;
}

.banner img,
article img{
  width: 100%;
}

.content,
footer{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 .5rem 0 .5rem;
}

h1{
  font-size: 2rem;
  text-align: center;
}

h2{
  color: #b52025;
}

.articles{
  display: flex;
  flex-wrap: wrap;
  gap: 3%;
}

article{
  width: 30.33%;
}

article p{
  text-align: justify;
}